# Titanic: Survival Model (XGBoost Version)

Build and train an XGBoost model to predict survival on the Titanic using a [cleaned and split dataset](https://huggingface.co/datasets/jamieoliver/titanic-2410), and upload the model to Hugging Face.

Based on https://github.com/jamieoliver/titanic-model-2410.

## Plan
- [x] Download [cleaned and split dataset](https://huggingface.co/datasets/jamieoliver/titanic-2410) from Hugging Face
- [x] Prepare data for model
  - [x] Load dataset splits as Pandas DataFrames
- [ ] Build and train initial model
- [ ] Tune model hyperparameters
- [ ] Test final model
- [ ] Upload model to Hugging Face

## Download Cleaned and Split Dataset From Hugging Face

In [1]:
from datasets import *

datasetDict = load_dataset('jamieoliver/titanic-2410')
datasetDict

DatasetDict({
    train: Dataset({
        features: ['survived', 'name', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'log_fare', 'pclass_1', 'pclass_2', 'pclass_3', 'sex_female', 'sex_male', 'embarked_C', 'embarked_Q', 'embarked_S'],
        num_rows: 1047
    })
    validation: Dataset({
        features: ['survived', 'name', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'log_fare', 'pclass_1', 'pclass_2', 'pclass_3', 'sex_female', 'sex_male', 'embarked_C', 'embarked_Q', 'embarked_S'],
        num_rows: 131
    })
    test: Dataset({
        features: ['survived', 'name', 'age', 'sibsp', 'parch', 'ticket', 'fare', 'cabin', 'log_fare', 'pclass_1', 'pclass_2', 'pclass_3', 'sex_female', 'sex_male', 'embarked_C', 'embarked_Q', 'embarked_S'],
        num_rows: 131
    })
})

## Prepare Data for Model

### Load Dataset Splits as Pandas DataFrames

The dependent variable is the variable we are predicting i.e. `survived`:

In [2]:
dependent_var = {split: dataset.to_pandas()['survived'] for split, dataset in datasetDict.items()}
dependent_var

{'train': 0        True
 1       False
 2       False
 3       False
 4       False
         ...
 1042     True
 1043    False
 1044     True
 1045    False
 1046    False
 Name: survived, Length: 1047, dtype: bool,
 'validation': 0       True
 1      False
 2      False
 3       True
 4      False
        ...
 126    False
 127    False
 128    False
 129    False
 130     True
 Name: survived, Length: 131, dtype: bool,
 'test': 0       True
 1      False
 2      False
 3      False
 4      False
        ...
 126    False
 127    False
 128     True
 129    False
 130     True
 Name: survived, Length: 131, dtype: bool}

The independent variables are the variables we will use to make the prediction:

In [3]:
independent_cols = ['age', 'sibsp', 'parch', 'log_fare', 'pclass_1', 'pclass_2', 'pclass_3', 'sex_female', 'sex_male',
                    'embarked_C', 'embarked_Q', 'embarked_S']

independent_vars = {split: dataset.to_pandas()[independent_cols] for split, dataset in datasetDict.items()}
independent_vars

{'train':        age  sibsp  parch  log_fare  pclass_1  pclass_2  pclass_3  sex_female  \
 0      4.0      1      1  3.178054     False      True     False        True
 1     20.0      0      0  2.188856     False     False      True       False
 2     32.5      0      0  5.358942      True     False     False       False
 3     23.0      0      0  2.775447     False      True     False       False
 4     47.0      0      0  3.970292      True     False     False       False
 ...    ...    ...    ...       ...       ...       ...       ...         ...
 1042  24.0      1      2  4.189655     False      True     False        True
 1043  24.0      0      0  2.775447     False      True     False       False
 1044  45.0      0      1  4.164466      True     False     False        True
 1045  24.0      1      0  2.738146     False     False      True        True
 1046  24.0      0      0  2.145931     False     False      True       False

       sex_male  embarked_C  embarked_Q  embarked_S
 0        False       False       False        True
 1         True       False       False        True
 2         True        True       False       False
 3         True        True       False       False
 4         True       False       False        True
 ...        ...         ...         ...         ...
 1042     False       False       False        True
 1043      True        True       False       False
 1044     False        True       False       False
 1045     False        True       False       False
 1046      True       False       False        True

 [1047 rows x 12 columns],
 'validation':       age  sibsp  parch  log_fare  pclass_1  pclass_2  pclass_3  sex_female  \
 0    23.0      0      1  4.164466      True     False     False       False
 1    24.0      0      0  3.931826      True     False     False       False
 2    43.0      0      0  2.185579     False     False      True       False
 3    21.0      0      0  3.316003      True     False     False        True
 4    25.0      1      0  3.295837     False      True     False       False
 ..    ...    ...    ...       ...       ...       ...       ...         ...
 126  30.5      0      0  2.169054     False     False      True        True
 127  33.0      0      0  2.585883     False      True     False       False
 128  28.0      0      0  2.185579     False     False      True       False
 129  46.0      0      0  4.384524      True     False     False       False
 130  18.0      0      2  2.639057     False      True     False        True

      sex_male  embarked_C  embarked_Q  embarked_S
 0        True        True       False       False
 1        True       False       False        True
 2        True       False       False        True
 3       False       False       False        True
 4        True       False       False        True
 ..        ...         ...         ...         ...
 126     False       False        True       False
 127      True       False       False        True
 128      True       False       False        True
 129      True        True       False       False
 130     False       False       False        True

 [131 rows x 12 columns],
 'test':       age  sibsp  parch  log_fare  pclass_1  pclass_2  pclass_3  sex_female  \
 0    20.0      0      0  2.698841     False      True     False       False
 1    44.0      0      0  2.639057     False      True     False       False
 2    26.0      2      0  2.268252     False     False      True       False
 3    33.0      0      0  3.316003      True     False     False       False
 4    24.0      0      0  2.273414     False     False      True       False
 ..    ...    ...    ...       ...       ...       ...       ...         ...
 126  63.0      1      0  3.295837     False      True     False       False
 127  28.0      0      0  2.202765     False     False      True       False
 128  22.0      0      1  4.142805      True     False     False        True
 129  24.0      0      0  2.185579     False     False      True       False
 130  24.0      0      0  2.169054     False     False      True       False

      sex_male  embarked_C  embarked_Q  embarked_S
 0        True        True       False       False
 1        True       False       False        True
 2        True       False       False        True
 3        True       False       False        True
 4        True        True       False       False
 ..        ...         ...         ...         ...
 126      True       False       False        True
 127      True       False       False        True
 128     False        True       False       False
 129      True       False       False        True
 130      True       False        True       False

 [131 rows x 12 columns]}